<section *ngIf="!isEditMode">
  <ul>
      <li *ngFor="let item of users" (click)="selectedUser=item">
        {{item.name}} <span>{{item.age}}</span> 
      </li>
  </ul>
  <h1>Detail</h1>
  <div>
    <b>Name:</b>{{selectedUser.name}}
    <b>Age:</b>{{selectedUser.age}}
    <b>weight:</b>{{selectedUser.weight}}
    <b>height:</b>{{selectedUser.height}}
  </div>
  <button (click)="isEditMode=true">Edit</button>
</section >

<section *ngIf="isEditMode">
  <pre>{{selectedUser | json}}</pre>
  <h2>Editor</h2>
  <button (click)="isEditMode=false">Back</button>
  <div>
    <input type="text" [(ngModel)]="selectedUser.name" /><br/>
    <input type="number" [(ngModel)]="selectedUser.age" /><br/>
    <input type="weight" [(ngModel)]="selectedUser.weight" /><br/>
    <input type="height" [(ngModel)]="selectedUser.height" /><br/>
    <button (click)="checkAge()">Check Age</button>
    <button (click)="checkHealth()">Check Health</button>
  </div>
</section>